$bezier-base = cubic-bezier(0.23, 1, 0.32, 1)

$font-family-brand = "Titillium Web", Helvetica, Arial, sans-serif
$font-family-sans = "Source Sans pro", Helvetica, Arial, sans-serif
$font-family-base = $font-family-brand

rupture.scale       = rem(480px) rem(600px) rem(840px) rem(960px) rem(1280px)
rupture.scale-names = 'xsmall' 'small' 'medium' 'large' 'xlarge'

$container-xs    = 90%
$container-sm    = 90%
$container-md    = 90%
$container-lg    = 90%
$container-xl    = 1190px
$container-fluid = 95%
