.label
    position relative
    display inline-block
    padding 2px 4px 2px 3px
    border-radius 4px
    border 1px solid #b9b9b9
    font-weight 600
    font-size 12px
    font-style italic
    line-height 12px
    text-transform uppercase
    color $grey-light

.label--purple
    @extend .label
    border-color $purple
    color $purple

.label--red
    @extend .label
    border-color $red
    color $red

.label--green
    @extend .label
    border-color $green
    color $green

.label--blue
    @extend .label
    border-color $blue
    color $blue

.label--black
    @extend .label
    border-color $black
    color $black
