<!doctype html>
<html lang="en" ng-app="github">
<head>
    <meta charset="UTF-8">
    <title>Github</title>
</head>

<body>

    <div ng-controller="SearchController as search">
        <input type="text" ng-model="search.query">
        <button ng-click="search.searchUser()">Search</button>

        <ul ng-if="search.users">
            <li ng-repeat="user in search.users">
                <span ng-bind="user.login"></span>
            </li>
        </ul>
    </div>

    <div ng-view></div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>
</html>
